{% extends "base.html" %}

{% block head %} Ajuda {% endblock %}
{% block content %}
    <p>Bem vindo à página de ajuda! Aqui você pode tirar suas dúvidas sobre
    o Kickstart.</p>
    <h3>O que é o Kickstart?</h3>
    <p>O Kickstart é um espaço para divulgação de ideias de projetos criativos
    e arrecadação de capital necessário para tornar o projeto uma realidade</p>
    <h3>Como divulgar um projeto?</h3>
    <p>Tudo que você tem que fazer para divulgar seu projeto é criar uma conta
    no site do Kickstart e depois clicar no link para escrever uma proposta de
    projeto que irá aparecer. Se sua proposta for aceita seu projeto será divulgado
    na página inicial do Kickstart. A partir daí você pode complementar sua descrição
    de projeto para que outras pessoas se interessem</p>
    <h3>Quanto custa?</h3>
    <p>O kickstart é gratuito para divulgação de projetos, você não paga 
    nada ao kickstart para divugar sua ideia para outras pessoas! Só é cobrado um
    pequeno percentual da sua arrecadação caso seu projeto tenha sucesso. Você não
    precisa se preocupar caso sua meta de arrecadação não seja atingida, não será
    cobrado nada</p>
{% endblock %}
</body>
</html>
