{% extends "base.html" %}

{% block title %}KickStart | {% endblock %}
{% block head %}Bem vindo ao Kickstart {% endblock %}
{% block content %}
    {% if user.username %}
        <p>Bem vindo {{ user.username }}!
        	Você pode submeter uma proposta de projeto clicando no botão abaixo.
            <a href="/proposta/new" class="signup_button round">Criar Projeto</a>
            <br>Caso queira verificar alguma proposta submetida anteriormente, basta
            clicar em <a href="/perfil/"><em>Meu Perfil</em></a></p>
    {% else %}
        <p>É necessário <a href="/login">entrar</a> em sua conta para acessar nosso serviço.
        <br><br>Caso ainda não tenha cadastro clique no botão abaixo
        para criar o seu.</p>
        <a href="/registrar" class="signup_button round">Cadastre-se agora!</a>
    {% endif %}	
{% endblock %}
{% block extra %}
	<h2>Últimos Projetos</h2>
	{% for proposta in propostas %}
	<div class="round_box">
		<p class="title">{{proposta}}</p>
		<p class="description"> {{proposta.quanto}} </p>
	</div>

	{% endfor %}
{% endblock %}