{% extends "base.html" %}
{% load url from future %}
{% block head %}Prosposta {{proposta.titulo}} {% endblock %}
{% block content %}
            <h4> Descrição do Projeto:</h4> {{ proposta.o_que }}<br>
            <h4>Recompensas:</h4> {{ proposta.recompensas }}<br>
            <h4>Mais informações sobre o projeto:</h4> {{ proposta.mais_infos }}<br>
            <h4>Categoria:</h4> {{ proposta.categoria }}<br>
            <h4>Capital necessário para iniciar projeto:</h4> {{ proposta.quanto }}<br>
            <h4>Contato:</h4> {{proposta.contato}}
            
{% endblock %}